<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/home_page_style.css">
        <link rel="stylesheet" href="../static/css/chat.css">
    </head>
    <body>
        {% block content %}
        <header>
            <object type="text/html" data="NavigationHud.html"></object>
            <!-- <div class="NavigationPanel"><object type="text/html" data="message_icon.html"></object></div>
            <div class="NavigationPanel">Navigation</div>
            <div class="NavigationPanel"><img src="../static/sprites/home_page/school_site.png" height="75" width="300" alt=""></div>
            <div class="NavigationPanel"><a href="/profile">User</a></div> -->
        </header>
        <section id="MotivationPhrases">
            <div><h1>{{motivation_phrase}}</h1></div>
        </section>
        <section id="Homework">
            <header id="HomeWorkTitle">
                <h2>{{HomeWorkTitle}}:</h2>
            </header>
            <section id="HomeworkTasks">
                <ul>
                    {% for lesson in list(lessons.keys()) %}
                        <li><h3>{{lessons[lesson]}}</h3></li>
                    {% endfor %}
                </ul>
            </section>
        </section>
        <section id="NewsFromGrade">
            <header id="Chat">
                <h1><strong>So this is totaly Just Chat</strong></h1>
                <div class="email_wrapper">
                    <input class="email" id="email" type="email" placeholder="Email">
                  </div>
            </header>
        </section>
        {% endblock %}
    </body>
</html>